In [21]:
# Import Dependencies
import pandas as pd
import os

In [22]:
# Reference the file where the CSV is located
filepath = os.path.join("Resources", "crime_incident_data2017.csv")

# Import the data into a Pandas DataFrame
crime_df = pd.read_csv(filepath)
crime_df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17

In [23]:
# Offense Category value counts
crime_df["Offense Category"].value_counts()

Larceny Offenses                16781
Assault Offenses                 5348
Motor Vehicle Theft              4799
Vandalism                        4189
Fraud Offenses                   3309
Burglary                         2901
Drug/Narcotic Offenses           1148
Robbery                           680
Counterfeiting/Forgery            470
Sex Offenses                      436
Weapon Law Violations             298
Arson                             221
Prostitution Offenses             177
Embezzlement                       78
Stolen Property Offenses           59
Kidnapping/Abduction               56
Sex Offenses, Nonforcible          19
Animal Cruelty Offenses            19
Homicide Offenses                  14
Extortion/Blackmail                13
Pornography/Obscene Material       11
Human Trafficking Offenses          6
Name: Offense Category, dtype: int64

In [24]:
# Search for Offence Category where Fraud is in the offense 
offenses_df = crime_df.loc[ crime_df["Offense Category"].str.contains("Offenses") , :]
offenses_df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17

In [25]:
# look for missing values
crime_df.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [26]:
# drop null rows
no_crime_df = crime_df.dropna(how="any")
no_crime_df.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [ ]:
# verify counts

In [27]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"
crime_df["Offense Type"].value_counts()

Theft From Motor Vehicle                       7256
All Other Larceny                              4900
Motor Vehicle Theft                            4799
Vandalism                                      4189
Burglary                                       2901
Simple Assault                                 2453
Shoplifting                                    2332
Identity Theft                                 2040
Intimidation                                   1678
Aggravated Assault                             1217
Drug/Narcotic Violations                       1142
Theft of Motor Vehicle Parts or Accessories    1107
False Pretenses/Swindle/Confidence Game         972
Theft From Building                             961
Robbery                                         680
Counterfeiting/Forgery                          470
Weapons Law Violations                          298
Credit Card/ATM Fraud                           264
Rape                                            228
Arson                                           221
Prostitution                                    166
Fondling                                        147
Pocket-Picking                                  107
Purse-Snatching                                  98
Embezzlement                                     78
Stolen Property Offenses                         59
Kidnapping/Abduction                             56
Sodomy                                           51
Hacking/Computer Invasion                        22
Theft From Coin-Operated Machine or Device       20
Animal Cruelty                                   19
Statutory Rape                                   18
Murder and Non-negligent Manslaughter            14
Extortion/Blackmail                              13
Assisting or Promoting Prostitution              11
Pornography/Obscene Material                     11
Sexual Assault With An Object                    10
Drug Equipment Violations                         6
Impersonation                                     6
Involuntary Servitude                             4
Wire Fraud                                        4
Commercial Sex Acts                               2
Incest                                            1
Welfare Fraud                                     1
Name: Offense Type, dtype: int64

In [32]:
# Combine similar offenses
crime_df["Offense Type"] = crime_df['Offense Type'].replace({
    'Theft From Motor Vehicle'  : 'Theft - Vehicle',
    'Motor Vehicle Theft' : 'Theft - Vehicle',
    'Theft of Motor Vehicle Parts or Accessories' : 'Theft - Vehicle'
})

In [33]:
# Check to see if you comnbined similar offenses correctly in "Offense Type".
crime_df['Offense Type'].value_counts()

Theft - Vehicle                               13162
All Other Larceny                              4900
Vandalism                                      4189
Burglary                                       2901
Simple Assault                                 2453
Shoplifting                                    2332
Identity Theft                                 2040
Intimidation                                   1678
Aggravated Assault                             1217
Drug/Narcotic Violations                       1142
False Pretenses/Swindle/Confidence Game         972
Theft From Building                             961
Robbery                                         680
Counterfeiting/Forgery                          470
Weapons Law Violations                          298
Credit Card/ATM Fraud                           264
Rape                                            228
Arson                                           221
Prostitution                                    166
Fondling                                        147
Pocket-Picking                                  107
Purse-Snatching                                  98
Embezzlement                                     78
Stolen Property Offenses                         59
Kidnapping/Abduction                             56
Sodomy                                           51
Hacking/Computer Invasion                        22
Theft From Coin-Operated Machine or Device       20
Animal Cruelty                                   19
Statutory Rape                                   18
Murder and Non-negligent Manslaughter            14
Extortion/Blackmail                              13
Assisting or Promoting Prostitution              11
Pornography/Obscene Material                     11
Sexual Assault With An Object                    10
Drug Equipment Violations                         6
Impersonation                                     6
Wire Fraud                                        4
Involuntary Servitude                             4
Commercial Sex Acts                               2
Incest                                            1
Welfare Fraud                                     1
Name: Offense Type, dtype: int64

In [31]:
# Create a new DataFrame that looks into a specific neighborhood
vernon_df = crime_df.loc[crime_df["Neighborhood"] == "Vernon"]
vernon_df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
6,5000 BLOCK OF NE 19TH AVE,17-901079,Property,Vernon,1,11/8/13,11/1/13,1200,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5594,-122.646,7652567.0,697337.0,1/26/17,1/1/17
7,5000 BLOCK OF NE 19TH AVE,17-901079,Property,Vernon,1,11/8/13,11/1/13,1200,Fraud Offenses,1,Identity Theft,45.5594,-122.646,7652567.0,697337.0,1/26/17,1/1/17
147,1000 BLOCK OF NE EMERSON ST,17-901190,Property,Vernon,1,11/26/16,11/1/16,2040,Fraud Offenses,1,Identity Theft,45.5619,-122.655,7650320.0,698297.0,1/29/17,1/1/17
148,1000 BLOCK OF NE EMERSON ST,17-901190,Property,Vernon,1,11/26/16,11/1/16,2040,Larceny Offenses,1,All Other Larceny,45.5619,-122.655,7650320.0,698297.0,1/29/17,1/1/17
271,5300 BLOCK OF NE 14TH PL,17-2593,Property,Vernon,1,12/19/16,12/1/16,900,Larceny Offenses,1,All Other Larceny,45.5618,-122.651,7651314.0,698264.0,1/3/17,1/1/17

In [35]:
df[df["Neighborhood"]=="Centennial"] 
df.loc[df["Neighborhood"]=="Centennial"]

SyntaxError: invalid syntax (<ipython-input-35-960c09e71f0e>, line 1)